.register {
  
  justify-content: center;
  display: flex;
}

.register-mainDiv {
  margin: 4rem;
  width: 23rem;
}

#registerName {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

#registerEmail {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
#registerPassword {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

#profileImageRegisterForm {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}
