.forgotPassword {
  text-align: center;
  justify-content: center;
  display: flex;
}

.forgotPassword-mainDiv {
  margin: 4rem;
  width: 23rem;
}

#forgotPasswordEmail {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
