.resetPassword {
  text-align: center;
  justify-content: center;
  display: flex;
}

.resetPassword-mainDiv {
  margin: 4rem;
  width: 23rem;
}

#resetPasswordPassword {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

#resetPasswordRepeatPassword {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
